<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Demande de Film</title>


      <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>

      <!-- Bootstrap Javascripts -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>


    {% if added_movies %}
    <h2>Films ajoutés :</h2>
    <ul>
        {% for movie in added_movies %}
        <li>
            <img src="{{ movie['Poster'] }}" alt="{{ movie['Title'] }} poster">
            <p><strong>{{ movie['Title'] }}</strong> ({{ movie['Year'] }})</p>
            <input type="button" value="téléchargé">
        </li>
        {% endfor %}
    </ul>
    {% endif %}

    <h2>Tout les films ont été ajouté au serveur 😁 !!</h2>

</body>
</html>